apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rocketchat-attachments
  namespace: home-apps
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 200Gi
  storageClassName: nfs-home-apps
