apiVersion: v1
kind: PersistentVolume
metadata:
  name: plex-media
  namespace: plex-ns
spec:
  capacity:
    storage: 10Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-plex
  nfs:
    path: /tank/plex-share
    server: server01.kryoseu.com

