apiVersion: v1
kind: Namespace
metadata:
  name: plex-ns
  labels:
    pod-security.kubernetes.io/enforce: privileged
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    metallb.universe.tf/address-pool: plex-production
  name: plex
  namespace: plex-ns
spec:
  ports:
    - protocol: TCP
      port: 32400
      targetPort: 32400
  selector:
    name: plex-server
  sessionAffinity: None
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-configs
  namespace: plex-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: plex-media-pvc
  namespace: plex-ns
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Ti
  storageClassName: nfs-storage
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: plex-server
  labels:
    name: plex-server
  namespace: plex-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      name: plex-server
  template:
    metadata:
      labels:
        name: plex-server
    spec:
      # hostNetwork: true
      volumes:
        - name: media
          persistentVolumeClaim:
            claimName: plex-media-pvc
        - name: configs
          persistentVolumeClaim:
            claimName: plex-configs
        - name: transcode
          emptyDir:
            medium: Memory
            sizeLimit: 10Gi
      containers:
        - name: plex-server
          image: plexinc/pms-docker:1.43.0.10467-2b1ba6e69
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 32400
          livenessProbe:
            tcpSocket:
              port: 32400
            initialDelaySeconds: 60
            periodSeconds: 5
          volumeMounts:
            - mountPath: /config
              name: configs
              subPath: config
            - mountPath: /media/movies
              name: media
              subPath: movies
            - mountPath: /media/shows
              name: media
              subPath: shows
            - mountPath: /transcode
              name: transcode
          securityContext:
            allowPrivilegeEscalation: false
            capabilities: {}
            privileged: false
            readOnlyRootFilesystem: false
            runAsNonRoot: false
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "4000"
            - name: VERSION
              value: "docker"
            - name: UMASK_SET
              value: "022"
            - name: PLEX_CLAIM
              valueFrom:
                secretKeyRef:
                  name: plex-claim-token
                  key: PLEX_CLAIM
            - name: TZ
              value: "Canada/Pacific"
