apiVersion: v1
kind: Service
metadata:
  annotations:
    metallb.universe.tf/address-pool: plex-production
  name: plex
  namespace: plex-ns
spec:
  ports:
    - protocol: TCP
      port: 32400
      targetPort: 32400
  selector:
    name: plex-server
  sessionAffinity: None
  type: LoadBalancer
