apiVersion: v1
kind: Service
metadata:
  name: deluge
  namespace: plex-ns
spec:
  selector:
    app: deluge-vpn
  ports:
    - name: web-ui
      protocol: TCP
      port: 8112
      targetPort: 8112
    - name: daemon
      protocol: TCP
      port: 58846
      targetPort: 58846
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: deluge-configs
  namespace: plex-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100M
  storageClassName: longhorn
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deluge-openvpn
  namespace: plex-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deluge-vpn
  template:
    metadata:
      labels:
        app: deluge-vpn
    spec:
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.2.0.1
      containers:
        - name: openvpn
          image: dperson/openvpn-client
          imagePullPolicy: Always
          env:
            - name: FIREWALL
              value: "1"
          volumeMounts:
            - name: vpn-config
              mountPath: /vpn
          securityContext:
            privileged: true
        - name: deluge
          image: linuxserver/deluge:2.2.0
          imagePullPolicy: Always
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "4000"
            - name: TZ
              value: "Canada/Pacific"
            - name: DELUGE_LOGLEVEL
              value: "error"
          volumeMounts:
            - name: configs
              mountPath: /config
              subPath: config/deluge
            - name: deluge
              mountPath: /media
      volumes:
        - name: vpn-config
          configMap:
            name: vpn-config
        - name: deluge
          persistentVolumeClaim:
            claimName: plex-media-pvc
        - name: configs
          persistentVolumeClaim:
            claimName: deluge-configs
