apiVersion: v1
kind: PersistentVolume
metadata:
  name: rocketchat-attachments
  namespace: home-apps
spec:
  capacity:
    storage: 200Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: nfs-home-apps
  nfs:
    path: /tank/home-apps/encrypted/rocketchat-attachments
    server: server01.kryoseu.com
