apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
  namespace: home-apps
spec:
  interval: 1h
  chart:
    spec:
      chart: immich
      version: 0.10.3
      sourceRef:
        kind: HelmRepository
        name: immich-charts
        namespace: flux-system

  values:
    controllers:
      main:
        containers:
          main:
            image:
              tag: v2.4.1
            env:
              REDIS_HOSTNAME: immich-valkey.home-apps.svc.cluster.local
              DB_HOSTNAME: immich-postgres-rw.home-apps.svc.cluster.local
              DB_USERNAME: immich
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-db-creds
                    key: password
              DB_DATABASE_NAME: immich
              IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'

    immich:
      metrics:
        enabled: false
      persistence:
        library:
          existingClaim: immich-library-encrypted
      configuration: {}

    valkey:
      enabled: true
      controllers:
        main:
          containers:
            main:
              image:
                repository: docker.io/valkey/valkey
                tag: 9.0-alpine@sha256:c106a0c03bcb23cbdf9febe693114cb7800646b11ca8b303aee7409de005faa8
                pullPolicy: IfNotPresent
      persistence:
        data:
          enabled: true
          size: 1Gi
          type: emptyDir
          accessMode: ReadWriteOnce
          storageClass: longhorn

    server:
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-server
        pullPolicy: IfNotPresent

    machine-learning:
      enabled: true
      image:
        repository: ghcr.io/immich-app/immich-machine-learning
        pullPolicy: IfNotPresent
      env:
        TRANSFORMERS_CACHE: /cache
      persistence:
        cache:
          enabled: true
          size: 10Gi
          type: emptyDir
          accessMode: ReadWriteMany
